<html>
	<body>
	    <% @saved_image.each do |saved_image| %>
	      <tr>
	        <td><%= image_tag(saved_image.image_url) %></td>
	      </tr>
	    <% end %>
	    <p><%= link_to "Back", mentions_index_path, :method => :get %></p>
	<body>
</html>